@font-face {
  font-family: 'NanumSquare';
  font-weight: 400;
  src: url('./fonts/NanumSquareR.woff') format('woff');
}
@font-face {
  font-family: 'Jua';
  font-weight: 400;
  src: url('./fonts/Jua-Regular.ttf');
}

/* common */
body {
  font-family: 'Jua', 'NanumSquare';
  box-sizing: border-box;
  overflow: hidden;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
div {
  box-sizing: border-box;
}

.App {
}
.content_wrapper {
  width: 1400px;
  padding: 120px 0 120px;
}

.h1 {
  font-size: 50px;
}
.h2 {
  font-size: 40px;
}
.h3 {
  font-size: 30px;
}
.h4 {
  font-size: 20px;
}
.h5 {
  font-size: 16px;
}

.bold {
  font-weight: bolder;
}

/* main_wrapper default */
.main_wrapper {
  .content_1,
  .content_2,
  .content_3,
  .content_4,
  .content_5 {
    height: 100vh;
  }
  .header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 100px;
    font-family: 'Jua', 'NanumSquare';
    z-index: 2;
    .header_content {
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.4);
      color: #000;
      text-align: center;
      .header_content_wrapper {
        width: 1400px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        .header_main_menu {
          width: 600px;
          cursor: pointer;
        }
        .header_other_menu {
          display: flex;
          width: 500px;
          justify-content: space-between;
          .other_menu_item {
            cursor: pointer;
          }
        }
      }
    }
  }
  .contents {
    font-family: 'NanumSquare';
    transition: all 1s;
    .content_1 {
      background-color: #ecd6d9;
      display: flex;
      justify-content: flex-start;
      .stage_1-1 {
        width: 100vw;
        display: flex;
        justify-content: center;
      }
    }
    .content_2 {
      background-color: #f3c2bd;
      display: flex;
      justify-content: flex-start;

      .stage_2-1 {
        width: 100vw;
        min-width: 100vw;
        max-width: 100vw;
        display: flex;
        justify-content: center;
      }
      .stage_2-2 {
        width: 100vw;
        min-width: 100vw;
        background-color: lighten(#f3c2bd, 5%);
        display: flex;
        justify-content: center;
      }
      .stage_2-3 {
        width: 100vw;
        min-width: 100vw;
        background-color: lighten(#f3c2bd, 10%);
        display: flex;
        justify-content: center;
      }
    }
    .content_3 {
      background-color: #e38a8a;
      display: flex;
      justify-content: flex-start;

      .stage_3-1 {
        width: 100vw;
        min-width: 100vw;
        max-width: 100vw;
        display: flex;
        justify-content: center;
      }
      .stage_3-2 {
        width: 100vw;
        min-width: 100vw;
        background-color: lighten(#e38a8a, 5%);
        display: flex;
        justify-content: center;
      }
      .stage_3-3 {
        width: 100vw;
        min-width: 100vw;
        background-color: lighten(#e38a8a, 10%);
        display: flex;
        justify-content: center;
      }
    }
    .content_4 {
      background-color: #dfd6cf;
      display: flex;
      justify-content: flex-start;

      .stage_4-1 {
        width: 100vw;
        min-width: 100vw;
        max-width: 100vw;
        display: flex;
        justify-content: center;
      }
      .stage_4-2 {
        width: 100vw;
        min-width: 100vw;
        background-color: lighten(#dfd6cf, 5%);
        display: flex;
        justify-content: center;
      }
      .stage_4-3 {
        width: 100vw;
        min-width: 100vw;
        background-color: lighten(#dfd6cf, 10%);
        display: flex;
        justify-content: center;
      }
    }
    .content_5 {
      background-color: #a69777;
    }
  }
}

/* article default */
article {
  width: 550px;
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 8px 10px 6px 0px rgba(0, 0, 0, 0.7);
  box-shadow: 8px 10px 6px 0px rgba(0, 0, 0, 0.7);
  transition: all 0.3s;
  &:hover {
    cursor: pointer;
  }
  img {
    width: 150px;
    margin-bottom: 20px;
    height: auto;
    border-radius: 10px;
  }
}

/* stage_2-1 */
.stage_2-1 {
  .content_wrapper {
    position: relative;
    article.html {
      position: absolute;
      top: 50%;
      left: 25%;
      transform: translate(-50%, -50%);
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      &:hover {
        transform: translate(-50%, -49%);
      }
      .html_header {
        border-bottom: 1px solid black;
        margin-bottom: 40px;
      }
      img[alt='sass'],
      img[alt='bootstrap'] {
        display: block;
        width: 200px;
        margin: 10px auto 10px;
      }
    }
    article.js {
      position: absolute;
      top: 50%;
      left: 75%;
      transform: translate(-50%, -50%);
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      &:hover {
        transform: translate(-50%, -49%);
      }
      .js_header {
        border-bottom: 1px solid black;
        margin-bottom: 40px;
      }
      img {
        margin: 10px;
      }
      img[alt='react'] {
        display: block;
        width: 200px;
        margin: 10px auto 10px;
      }
      img[alt='redux_tool_kit'] {
        display: block;
        width: 200px;
        margin: 10px auto 10px;
      }
    }
  }
}

/* stage_2-2 */

.stage_2-2 {
  .content_wrapper {
    position: relative;
    article.versionControl {
      position: absolute;
      top: 50%;
      left: 25%;
      transform: translate(-50%, -50%);
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      &:hover {
        transform: translate(-50%, -49%);
      }
      .versionControl_header {
        border-bottom: 1px solid black;
        margin-bottom: 40px;
      }
      img[alt='sass'],
      img[alt='bootstrap'] {
        display: block;
        width: 200px;
        margin: 10px auto 10px;
      }
    }
    article.communication {
      position: absolute;
      top: 50%;
      left: 75%;
      transform: translate(-50%, -50%);
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      &:hover {
        transform: translate(-50%, -49%);
      }
      .communication_header {
        border-bottom: 1px solid black;
        margin-bottom: 40px;
      }
      img {
        margin: 10px;
      }
      img[alt='react'] {
        display: block;
        width: 200px;
        margin: 10px auto 10px;
      }
      img[alt='redux_tool_kit'] {
        display: block;
        width: 200px;
        margin: 10px auto 10px;
      }
    }
  }
}
